*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:
  radial-gradient(circle at center,
  #4d002d 0%,
  #160012 50%,
  #050008 100%);

  font-family:Courier New;
  overflow:hidden;
  color:white;
}

/* MENU */

#startScreen{
  position:fixed;
  inset:0;

  display:flex;
  justify-content:center;
  align-items:center;

  background:rgba(0,0,0,.45);
  z-index:999;
}

.menu-card{
  width:520px;
  padding:50px;

  border-radius:30px;

  background:#1a0015;

  border:4px solid #ff0088;

  text-align:center;

  box-shadow:
  0 0 25px #ff0088,
  0 0 80px #ff0088;
}

.menu-card h1{
  font-size:70px;
  color:#ff4db8;

  text-shadow:
  0 0 10px #ff4db8,
  0 0 25px #ff4db8;

  margin-bottom:20px;
}

.menu-card p{
  font-size:30px;
  margin-bottom:40px;
}

#playBtn{
  width:240px;
  height:80px;

  border:none;
  border-radius:20px;

  background:#ff0088;
  color:white;

  font-size:34px;
  font-weight:bold;

  cursor:pointer;

  box-shadow:
  0 0 20px #ff0088,
  0 0 50px #ff0088;

  transition:.2s;
}

#playBtn:hover{
  transform:scale(1.08);
}

/* GAME */

#gameContainer{
  display:none;
  padding:20px;
}

.hud{
  display:flex;
  justify-content:center;
  gap:20px;

  margin-bottom:20px;
}

.hud-box{
  width:260px;
  padding:20px;

  border-radius:18px;

  text-align:center;

  background:#1a0015;
  border:3px solid #ff0088;

  box-shadow:
  0 0 12px #ff0088;
}

.game-layout{
  display:flex;
  justify-content:center;
  gap:25px;
}

canvas{
  background:black;

  border:5px solid #ff0088;

  border-radius:20px;

  box-shadow:
  0 0 25px #ff0088;
}

.powers{
  width:260px;

  background:#1a0015;

  border:4px solid #ff0088;

  border-radius:25px;

  padding:25px;

  box-shadow:
  0 0 25px #ff0088;
}

.powers h2{
  margin-bottom:30px;
  color:#ff4db8;
}

.power{
  margin-bottom:25px;
}

.bar{
  width:100%;
  height:18px;

  background:#330022;

  border-radius:10px;

  margin-top:10px;

  overflow:hidden;
}

.bar div{
  height:100%;
  width:0%;

  background:linear-gradient(90deg,#ff0088,#ff66c4);

  transition:.3s;
}

/* QUESTIONS */

#questionModal{
  position:fixed;
  inset:0;

  display:none;
  justify-content:center;
  align-items:center;

  background:rgba(0,0,0,.7);

  z-index:2000;
}

.question-box{
  width:600px;

  background:#1a0015;

  border:4px solid #ff0088;

  border-radius:30px;

  padding:40px;

  text-align:center;

  box-shadow:
  0 0 30px #ff0088;
}

.question-box h2{
  margin-bottom:30px;
}

.answer-btn{
  width:100%;
  padding:18px;

  margin-bottom:15px;

  border:none;
  border-radius:14px;

  background:#ff0088;
  color:white;

  font-size:20px;

  cursor:pointer;
}

.answer-btn:hover{
  background:#ff4db8;
}
