body{
    margin:0;
    background:
        radial-gradient(circle at center,#2b0030 0%,#090014 100%);
    color:white;
    font-family:Courier New;
    overflow:hidden;
}

.hidden{
    display:none;
}

.menu-screen{
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
}

.menu-box{
    width:420px;
    padding:50px;
    border:4px solid #ff00a6;
    border-radius:30px;
    text-align:center;
    background:#090014;
    box-shadow:0 0 30px #ff00a6;
}

.menu-box h1{
    font-size:58px;
    color:#ff66c4;
}

.menu-box p{
    color:#ffc8ec;
    margin-bottom:30px;
}

#playButton{
    padding:18px 50px;
    font-size:24px;
    border:none;
    border-radius:14px;
    background:#ff00a6;
    color:white;
    cursor:pointer;
    box-shadow:0 0 15px #ff00a6;
}

#playButton:hover{
    transform:scale(1.05);
}

.hud{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:20px;
}

.stat{
    padding:16px 30px;
    border:3px solid #ff00a6;
    border-radius:18px;
    background:#14001f;
    box-shadow:0 0 15px #ff00a6;
    font-size:28px;
}

.game-layout{
    margin-top:20px;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:20px;
}

canvas{
    border:5px solid #ff00a6;
    border-radius:18px;
    background:black;
    box-shadow:0 0 25px #ff00a6;
}

.powers{
    width:280px;
    background:#0d0016;
    border:4px solid #ff00a6;
    border-radius:20px;
    padding:20px;
    box-shadow:0 0 20px #ff00a6;
}

.powers h2{
    color:#ff4fb3;
    text-align:center;
    margin-bottom:20px;
}

.power{
    margin-bottom:20px;
}

.bar{
    margin-top:8px;
    width:100%;
    height:16px;
    background:#2a002f;
    border-radius:10px;
    overflow:hidden;
}

.bar div{
    height:100%;
    width:0%;
    background:#ff00a6;
}
